  <form>
    {{miJuego.nombre}}
  <div class="container">
    <label><b>Numero ingresado</b></label>
    <input type="number" id="num" placeholder="Numero ingresado" name="numeroIngresado" [(ngModel)]="miJuego.numeroIngresado" required>
  </div>
  
    <div class="container">
    <button (click)="miJuego.GenerarNuevo()">Nuevo</button> 
    <button (click)="miJuego.Verificar()">Verificar</button>
    
    <p [hidden]="!miJuego.Gano">Ganó</p>
    <p [hidden]="miJuego.Gano">No Ganó</p>
    
  </div>


 
</form>

