
  <h1>  {{miJuego.nombre}}</h1>
  <div class="container">
    <label><b>Ingrese número</b></label>
    <input type="number" min = "0" max = "100" id="num" placeholder="Número" name="numeroIngresado" [(ngModel)]="miJuego.numeroIngresado" required>
  </div>
  
    <div class="container">
    <button class="button" (click)="miJuego.GenerarNuevo()">Nuevo</button> 
    <button class="button" (click)="miJuego.Verificar()">Verificar</button>
    
    <p [hidden]="!miJuego.Gano">Ganó</p>
    <p [hidden]="miJuego.Gano">No Ganó</p>
    
  </div>


 


